# Latex compilation files are ignored :
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
	
# Temporary Matlab files are ignored :
*.asv
*.m~

# Ignore the `main.m` script because it vary with simulations
main.m

# Compressed files are ignored :
*.rar
*.zip

# Files begining with `my_` are ignored :
my_*

# The certain files in folder `./data/`
data/*.fig
data/*.mat
data/*.txt