# On ignore les .exe :
	*.exe
	
# On ignore les fichiers utiles pour la compilation C++11 :
	*.o
	
# On ignore les fichiers de compilation pour latex :
	*.aux
	*.fdb_latexmk
	*.fls
	*.log
	*.synctex.gz
	*.toc
	
# On ignore les videos
	*.mp4
	
# On ignore les fichiers tempotaires de Matlab
 *.asv
 *.m~
	
# On ignore les fichiers compressés
	*.rar
	*.zip
	