# Latex compilation files are ignored :
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
	
# Temporary Matlab files are ignored :
*.asv
*.m~
	
# Compressed files are ignored :
*.rar
*.zip

# Files begining with `my_` are ignored :
my_*

# The folder `./doc/papers/`
papers/